
header{

 background-color: rgb(111, 164, 167);
}


h1{
text-align: center;
margin: 40px;
}


h2{
  text-align: center;
  color: darkred;
  margin: 50px;
  
}

h3{
  font-size: 19px;
  text-align: center;
}

h4{
  font-size: 18px;
}

h6{
  text-align: center;
}



body { 

  
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  
  
}

.texto{
  text-align: center;
}


 

.img1934{
  display: inline-block;
  margin-left: 100px;
}



.copa1938{

  display: inline-block;
  margin-right: 100px;
  
}


.copa1950{
  display: block;
  margin-left: 100px;

}


.copa1954{

  display: block;
  margin-right: 200px;
}

.copa58{

  display: block;
  margin-right: 200px;
}

.borda{
  border: 5px solid black;
}

.thome{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  margin-top: -250px;
  margin-left: 50px;
}

.thome:hover{
  background-color: gold;
}

.t30{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  margin-top: -200px;
  margin-left: -300px;
}

.t30:hover{
  background-color: gold;
}

.t34{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  margin-top: -200px;
  margin-left: 300px;
}

.t34:hover{
  background-color: gold;
}

.t38{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  margin-top: -150px;
  margin-left: -300px;
}

.t38:hover{
  background-color: greenyellow;
}

.t50{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  margin-top: -150px;
  margin-left: 300px;
}

.t50:hover{
  background-color: greenyellow;
}

.t54{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  margin-top: -100px;
  margin-left: -300px;
}

.t54:hover{
  background-color: gold;
}

.t58{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  margin-top: -100px;
  margin-left: 300px;
}

.t58:hover{
  background-color: gold;
}